bidict==0.23.1
black==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dnspython==2.7.0
eventlet==0.39.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
python-engineio==4.11.2
python-socketio==5.12.1
requests==2.32.3
simple-websocket==1.1.0
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.3.0
wsproto==1.2.0
